body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body{
    background-image: url('./bg.jpg');
    background-position: center;
}

.container {
    text-align: center;
    background-color: #ffffffad;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    display: none;
}

h3 {
    margin: 10px 0;
}

img {
    display: none;
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
}

p {
    margin: 10px 0;
    font-size: 16px;
}
